.row{
   text-align: center;
    }
    
.card{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(238, 222, 222);
    cursor: pointer;
    }
    
.card:hover {
    border: 1px black
    }
    
