.row{
    text-align: center;
}
.card{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #eee;
    cursor: pointer;
}

.card:hover {
    border: 1px black;
    }

.green{
background-color: green;
    }

.blue{
background-color: blue; 
   }

.pink{
background-color: pink;
   }

.yellow{
background-color: yellow; 
   }


.red{
background-color: red; 
   }

.turqoise{
background-color: turqoise; 
   }

.cyan{
background-color: cyan; 
  }

.orange{
background-color: orange; 
  }

.button {
Background-color:blue;
Color:white;
Padding: 15px 32px;
Text-align: center;
Text-decoration: none;
Display: inline-block;
Font-size 16 px;
Border-radius: 12px;
}

.button:hover {
Background-color: white;
Color:black;
}
