/* body {
   background-color: black;
} */

.row{
   text-align: center;
    }
    
.card{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(238, 222, 222);
    cursor: pointer;
    }
    
.card:hover {
    border: 1px black;
    }

.green{
background-color: green;
    }

.blue{
background-color: blue; 
   }

.pink{
background-color: pink;
   }

.yellow{
background-color: yellow; 
   }


.red{
background-color: red; 
   }

.turqoise{
background-color: turqoise; 
   }

.cyan{
background-color: cyan; 
  }

.orange{
background-color: orange; 
  }

.button {
   background-color: blue;
   color: white;
   text-align: center;
   display: inline-block;
   font-size: 16px;
   padding: 15 px 32 px;
   border-radius: 12 px;
}

.button:hover {
   background-color: white;
   color: black;
}
